# Vendor

In [1]:
import numpy as np
import pandas as pd

In [44]:
pd.DataFrame({'品質': [1.8,1.5,1.0,1.4], 
              '交期': [1,6,2,6],
             '價格': [0,10,18,8],
             '服務': [90,72,65,95]},
             index=['Vendor A', 'Vendor B', 'Vendor C', 'Vendor D'])

           品質  交期  價格  服務
Vendor A  1.8   1   0  90
Vendor B  1.5   6  10  72
Vendor C  1.0   2  18  65
Vendor D  1.4   6   8  95

### 正規化

In [62]:
df = pd.DataFrame({'品質': [1.8,1.5,1.0,1.4], 
              '交期': [1,6,2,6],
             '價格': [0,10,18,8],
             '服務': [90,72,65,95]},
             index=['Vendor A', 'Vendor B', 'Vendor C', 'Vendor D'])
a = df.values
aT = a.T
print(aT)
pd.DataFrame(df)

[[ 1.8  1.5  1.   1.4]
 [ 1.   6.   2.   6. ]
 [ 0.  10.  18.   8. ]
 [90.  72.  65.  95. ]]

           品質  交期  價格  服務
Vendor A  1.8   1   0  90
Vendor B  1.5   6  10  72
Vendor C  1.0   2  18  65
Vendor D  1.4   6   8  95

In [46]:
# Number of alternatives, aspects
(n, J) = a.shape
print((n,J))
print(a.size)
print(n)

(4, 4)
16
4

In [55]:
b=pd.DataFrame([1.8,1.5,1.,1.4])
amin, amax = b.min(), b.max() # 求最大最小值
b = (b-amin)/(amax-amin) # (矩阵元素-最小值)/(最大值-最小值)
print(b)

       0
0  1.000
1  0.625
2  0.000
3  0.500

In [59]:
print(type(aT))

<class 'numpy.ndarray'>

In [61]:
1.5/((1.8*1.8+1.5*1.5+1*1+1.4*1.4)**0.5)

0.5160156871153361